<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://unpkg.com/vue"></script>
        <script>
            var app;
            document.addEventListener("DOMContentLoaded", function(event) {
                app = new Vue({
                    el: '#app',
                    data: {
                        message: "Hi Mom!",
                        message2: null //You can't seem to bind to a model not declared here, so null it is.
                    }
                });
            });
        </script>
        <title>Simple two way binding</title>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="message" />
            <br><br>
            {{ message }}
            <br><br><br><br><br><br>
            <input type="text" v-model="message2" />
            <br><br>
            {{ message2 }}
        </div>
        <br><br><br>
        Run this in the console:<br>
        app.message = "Magical update powers ACTIVATE!!!";
    </body>
</html>